In [125]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [126]:
data = {
    'Tamaño': [50, 60, 70, 80, 90],
    'Barrio': ['Urbano', 'Suburbano', 'Rural', 'Urbano', 'Suburbano'],
    'Precio': [150000, 180000, 210000, 240000, 270000]
}
df = pd.DataFrame(data)

In [127]:
df

   Tamaño     Barrio  Precio
0      50     Urbano  150000
1      60  Suburbano  180000
2      70      Rural  210000
3      80     Urbano  240000
4      90  Suburbano  270000

In [128]:
df = pd.get_dummies(df, columns=['Barrio'], drop_first=True)

In [129]:
df

   Tamaño  Precio  Barrio_Suburbano  Barrio_Urbano
0      50  150000             False           True
1      60  180000              True          False
2      70  210000             False          False
3      80  240000             False           True
4      90  270000              True          False

In [130]:
# Separar las variables independientes (X) y la variable dependiente (y)
X = df[['Tamaño', 'Barrio_Suburbano', 'Barrio_Urbano']]
y = df['Precio']

In [131]:
# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Crear y entrenar el modelo de regresión lineal
model = LinearRegression()
model.fit(X_train, y_train)

# Hacer predicciones usando el conjunto de prueba
y_pred = model.predict(X_test)

# Mostrar los resultados
print('Valores reales:', y_test.tolist())
print('Predicciones:', y_pred.tolist())

Valores reales: [210000]
Predicciones: [210000.0]

In [136]:
df.columns

Index(['Tamaño', 'Precio', 'Barrio_Suburbano', 'Barrio_Urbano'], dtype='object')