In [1]:
import numpy as np

In [2]:
heights = [189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175, 178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178, 182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177, 185, 188, 188, 182, 185, 191]

In [4]:
heights_arr = np.array(heights)

In [5]:
heights_arr

array([189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
       178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178,
       182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177,
       185, 188, 188, 182, 185, 191])

In [6]:
type(heights_arr)

numpy.ndarray

In [10]:
# Heights higher than 188 cm
print((heights_arr > 188).sum())

5

In [13]:
# GET THE SIZE OF THE ARRAY
heights_arr.size

45

In [14]:
# GET THE SHAPE OF THE ARRAY
heights_arr.shape

(45,)

In [15]:
ages = [57, 61, 57, 57, 58, 57, 61, 54, 68, 51, 49, 64, 50, 48, 65, 52, 56, 46, 54, 49, 51, 47, 55, 55, 54, 42, 51, 56, 55, 51, 54, 51, 60, 62, 43, 55, 56, 61, 52, 69, 64, 46, 54, 47, 70]

In [17]:
ages_arr = np.array(ages)

In [18]:
ages_arr

array([57, 61, 57, 57, 58, 57, 61, 54, 68, 51, 49, 64, 50, 48, 65, 52, 56,
       46, 54, 49, 51, 47, 55, 55, 54, 42, 51, 56, 55, 51, 54, 51, 60, 62,
       43, 55, 56, 61, 52, 69, 64, 46, 54, 47, 70])

In [19]:
heights_and_ages = heights + ages

In [20]:
heights_and_ages

[189,
 170,
 189,
 163,
 183,
 171,
 185,
 168,
 173,
 183,
 173,
 173,
 175,
 178,
 183,
 193,
 178,
 173,
 174,
 183,
 183,
 180,
 168,
 180,
 170,
 178,
 182,
 180,
 183,
 178,
 182,
 188,
 175,
 179,
 183,
 193,
 182,
 183,
 177,
 185,
 188,
 188,
 182,
 185,
 191,
 57,
 61,
 57,
 57,
 58,
 57,
 61,
 54,
 68,
 51,
 49,
 64,
 50,
 48,
 65,
 52,
 56,
 46,
 54,
 49,
 51,
 47,
 55,
 55,
 54,
 42,
 51,
 56,
 55,
 51,
 54,
 51,
 60,
 62,
 43,
 55,
 56,
 61,
 52,
 69,
 64,
 46,
 54,
 47,
 70]

In [21]:
heights_and_ages_arr = np.array(heights_and_ages)

In [22]:
print(heights_and_ages_arr.shape)

(90,)

In [27]:
heights_and_ages_arr = heights_and_ages_arr.reshape((2,45))

In [30]:
heights_and_ages_arr

array([[189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178,
        182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177,
        185, 188, 188, 182, 185, 191],
       [ 57,  61,  57,  57,  58,  57,  61,  54,  68,  51,  49,  64,  50,
         48,  65,  52,  56,  46,  54,  49,  51,  47,  55,  55,  54,  42,
         51,  56,  55,  51,  54,  51,  60,  62,  43,  55,  56,  61,  52,
         69,  64,  46,  54,  47,  70]])

In [28]:
# Normal Type from Python Built-in 

type(heights_and_ages_arr)

numpy.ndarray

In [29]:
# DTYPE Method

heights_and_ages_arr.dtype

dtype('int64')

In [41]:
# ACCESS the 4th element of the 1st dimension of the np array and changing its value to 165

heights_and_ages_arr[0, 3] = 165

In [43]:
heights_and_ages_arr

array([[189, 170, 189, 165, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178,
        182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177,
        185, 188, 188, 182, 185, 191],
       [ 57,  61,  57,  57,  58,  57,  61,  54,  68,  51,  49,  64,  50,
         48,  65,  52,  56,  46,  54,  49,  51,  47,  55,  55,  54,  42,
         51,  56,  55,  51,  54,  51,  60,  62,  43,  55,  56,  61,  52,
         69,  64,  46,  54,  47,  70]])

In [49]:
print(ages_arr.shape)

# SELECT THE FIRST 3 ELEMENTS of the Ages array
print(ages_arr[:3,])

(45,)
[57 61 57]

In [50]:
ages_arr

array([57, 61, 57, 57, 58, 57, 61, 54, 68, 51, 49, 64, 50, 48, 65, 52, 56,
       46, 54, 49, 51, 47, 55, 55, 54, 42, 51, 56, 55, 51, 54, 51, 60, 62,
       43, 55, 56, 61, 52, 69, 64, 46, 54, 47, 70])

In [52]:
# STACKING Horizontally ages_arr and heights_arr

np.hstack((ages_arr, heights_arr))

array([ 57,  61,  57,  57,  58,  57,  61,  54,  68,  51,  49,  64,  50,
        48,  65,  52,  56,  46,  54,  49,  51,  47,  55,  55,  54,  42,
        51,  56,  55,  51,  54,  51,  60,  62,  43,  55,  56,  61,  52,
        69,  64,  46,  54,  47,  70, 189, 170, 189, 163, 183, 171, 185,
       168, 173, 183, 173, 173, 175, 178, 183, 193, 178, 173, 174, 183,
       183, 180, 168, 180, 170, 178, 182, 180, 183, 178, 182, 188, 175,
       179, 183, 193, 182, 183, 177, 185, 188, 188, 182, 185, 191])

In [53]:
# STACKING Vertically ages_arr and heights_arr

np.vstack((ages_arr, heights_arr))

array([[ 57,  61,  57,  57,  58,  57,  61,  54,  68,  51,  49,  64,  50,
         48,  65,  52,  56,  46,  54,  49,  51,  47,  55,  55,  54,  42,
         51,  56,  55,  51,  54,  51,  60,  62,  43,  55,  56,  61,  52,
         69,  64,  46,  54,  47,  70],
       [189, 170, 189, 163, 183, 171, 185, 168, 173, 183, 173, 173, 175,
        178, 183, 193, 178, 173, 174, 183, 183, 180, 168, 180, 170, 178,
        182, 180, 183, 178, 182, 188, 175, 179, 183, 193, 182, 183, 177,
        185, 188, 188, 182, 185, 191]])

In [55]:
heights_arr = heights_arr.reshape((45,1))
ages_arr = ages_arr.reshape((45,1))

In [64]:
height_age_arr = np.concatenate((heights_arr, ages_arr), axis=1)

In [67]:
height_age_arr

array([[189,  57],
       [170,  61],
       [189,  57],
       [163,  57],
       [183,  58],
       [171,  57],
       [185,  61],
       [168,  54],
       [173,  68],
       [183,  51],
       [173,  49],
       [173,  64],
       [175,  50],
       [178,  48],
       [183,  65],
       [193,  52],
       [178,  56],
       [173,  46],
       [174,  54],
       [183,  49],
       [183,  51],
       [180,  47],
       [168,  55],
       [180,  55],
       [170,  54],
       [178,  42],
       [182,  51],
       [180,  56],
       [183,  55],
       [178,  51],
       [182,  54],
       [188,  51],
       [175,  60],
       [179,  62],
       [183,  43],
       [193,  55],
       [182,  56],
       [183,  61],
       [177,  52],
       [185,  69],
       [188,  64],
       [188,  46],
       [182,  54],
       [185,  47],
       [191,  70]])

In [68]:
print(height_age_arr.shape)
print(height_age_arr[:3,:])

(45, 2)
[[189  57]
 [170  61]
 [189  57]]

In [93]:
# Multiplying the Heights to get Inches and then Rounding it

print(np.round(height_age_arr[:,0]* 0.0328084, 1))

[6.2 5.6 6.2 5.3 6.  5.6 6.1 5.5 5.7 6.  5.7 5.7 5.7 5.8 6.  6.3 5.8 5.7
 5.7 6.  6.  5.9 5.5 5.9 5.6 5.8 6.  5.9 6.  5.8 6.  6.2 5.7 5.9 6.  6.3
 6.  6.  5.8 6.1 6.2 6.2 6.  6.1 6.3]

In [99]:
# SUM
np.sum(heights_arr)

np.int64(8100)

In [102]:
# Sum of Ages
ages_arr.sum()

np.int64(2475)

In [103]:
# Sum of Ages ANOTHER way
np.sum(ages_arr)

np.int64(2475)

In [114]:
# MEAN of Ages
np.mean(ages_arr)

np.float64(55.0)

In [115]:
# Mean of Heights
np.mean(heights_arr)

np.float64(180.0)

In [116]:
# 5 presidents who started the presidency exactly at age 51.
(height_age_arr[:, 1] == 51).sum()

np.int64(5)

In [120]:
# Presidents who started with 50 or more years old
(height_age_arr[:, 1] >= 50).sum()

np.int64(36)

In [125]:
# With a MASK now FOR AGEs
mask = height_age_arr[:, 1] >= 50 # note the index 1
print(mask.sum())

36

In [128]:
# With a MASK now FOR HEIGHTs
mask = height_age_arr[:, 0] >= 50 # note the index 0
print(mask.sum())

45

In [137]:
mask = height_age_arr[:,1] < 50
young_presidents = height_age_arr[mask,]

In [141]:
young_presidents

array([[173,  49],
       [178,  48],
       [173,  46],
       [183,  49],
       [180,  47],
       [178,  42],
       [183,  43],
       [188,  46],
       [185,  47]])

In [142]:
mask = (height_age_arr[:, 0]>=182) & (height_age_arr[:,1]<=50)

print(height_age_arr[mask,])

[[183  49]
 [183  43]
 [188  46]
 [185  47]]